.app-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'header'
  'main'
  'footer'
  ;
  height: 100vh;

  & header {
    grid-area: header;
    width: 100%;
    max-width: 1400px;
    /* margin-inline: auto; */
  }

  & main {
    grid-area: main;
    position: relative;
  }

  & footer {
    grid-area: footer;
    min-width: 100vw;
    max-width: 1400px;
    margin-inline: auto;
  }
}

