.delay--01s { animation-delay: 0.1s !important }
.delay--015s { animation-delay: 0.15s !important }
.delay--02s { animation-delay: 0.2s !important }
.delay--03s { animation-delay: 0.3s !important }
.delay--04s { animation-delay: 0.4s !important }
.delay--05s { animation-delay: 0.5s !important }
.delay--1s { animation-delay: 1s !important }
.delay--1s-05s { animation-delay: 1.5s !important }

.duration--01s { animation-duration: 0.1s !important }
.duration--015s { animation-duration: 0.15s !important }
.duration--02s { animation-duration: 0.2s !important }
.duration--03s { animation-duration: 0.3s !important }
.duration--04s { animation-duration: 0.4s !important }
.duration--05s { animation-duration: 0.5s !important }
.duration--1s { animation-duration: 1s !important }
.duration--1s-05s { animation-duration: 1.5s !important }
.duration--5s { animation-duration: 5s !important }
.duration--10s { animation-duration: 10s !important }

@keyframes infinite-card-slide-ani {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes fill-slider-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes category-rotate {
  from {
    rotate: 0deg;
    transform-origin: center;
  }

  to {
    rotate: 360deg;
    transform-origin: center;
  }
}

@keyframes heart-ani {
  0% {
    scale: 100%;
    transform-origin: center;
  }

  40%, 80% {
    scale: 50%;
    transform-origin: center;
  }

  100% {
    scale: 100%;
    transform-origin: center;
  }
}

.--infinite-card-slide-ani {
  animation-name: infinite-card-slide-ani;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--rotate-ani {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--fill-slider-bar {
  animation-name: fill-slider-bar;
  animation-fill-mode: backwards;  
  animation-timing-function: linear;
}

.--category-rotate {
  animation-name: category-rotate;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--heart-ani {
  animation-name: heart-ani;
  animation-duration: 0.4s;
  animation-fill-mode: ease-out;
  animation-timing-function: cubic-bezier(.3,.8,.94,.07);
  ;
}