.delay--01s { animation-delay: 0.1s !important }
.delay--015s { animation-delay: 0.15s !important }
.delay--02s { animation-delay: 0.2s !important }
.delay--03s { animation-delay: 0.3s !important }
.delay--04s { animation-delay: 0.4s !important }
.delay--05s { animation-delay: 0.5s !important }
.delay--1s { animation-delay: 1s !important }
.delay--1s-05s { animation-delay: 1.5s !important }

.duration--01s { animation-duration: 0.1s !important }
.duration--015s { animation-duration: 0.15s !important }
.duration--02s { animation-duration: 0.2s !important }
.duration--03s { animation-duration: 0.3s !important }
.duration--04s { animation-duration: 0.4s !important }
.duration--05s { animation-duration: 0.5s !important }
.duration--1s { animation-duration: 1s !important }
.duration--1s-05s { animation-duration: 1.5s !important }
.duration--5s { animation-duration: 5s !important }
.duration--10s { animation-duration: 10s !important }


@keyframes opacity-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes infinite-card-slide-ani {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes rotate-translate-ani {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fill-slider-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes category-rotate {
  from {
    rotate: 0deg;
    transform-origin: center;
  }

  to {
    rotate: 360deg;
    transform-origin: center;
  }
}

@keyframes heart-ani {
  0% {
    scale: 100%;
    transform-origin: center;
  }

  40%, 80% {
    scale: 50%;
    transform-origin: center;
  }

  100% {
    scale: 100%;
    transform-origin: center;
  }
}

@keyframes alert-messge-ani {
  0% {
    opacity: 0;
    scale: 0 0;
    transform-origin: left;
  }

  5% {
    opacity: 1;
    scale: 10% 100%;
    transform-origin: left;
  }

  10%, 90% {
    opacity: 1;
    scale: 100% 100%;
    transform-origin: left;
  }

  100% {
    opacity: 0;
    scale: 100% 100%;
    transform-origin: left;
  }
}

@keyframes alert-messge-content-ani {
  0%, 10% {
    opacity: 0;
  }

  15%, 100% {
    opacity: 1;
  }
}

@keyframes alert-timer-tape-ani {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes brightness-filter {
  0%, 40% {
    filter: brightness(250%);
  }

  60% {
    filter: brightness(150%);
  }

  80%, 100% {
    filter: brightness(250%);
  }
}

@keyFrames zoom-in {
  from {
    scale: 0%
  }

  to {
    scale: 100%
  }
}

.--opacity-blink {
  animation-name: opacity-blink;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--infinite-card-slide-ani {
  animation-name: infinite-card-slide-ani;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--rotate-ani {
  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--rotate-translate-ani {
  animation-name: rotate-translate-ani;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--fill-slider-bar {
  animation-name: fill-slider-bar;
  animation-fill-mode: backwards;  
  animation-timing-function: linear;
}

.--category-rotate {
  animation-name: category-rotate;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.--heart-ani {
  animation-name: heart-ani;
  animation-duration: 0.4s;
  animation-fill-mode: ease-out;
  animation-timing-function: cubic-bezier(.3,.8,.94,.07);
}

.--alert-messge-ani {
  animation-name: alert-messge-ani;
  animation-duration: 10s;
  animation-fill-mode: linear;
  animation-fill-mode: both;
}

.--alert-messge-content-ani {
  animation-name: alert-messge-content-ani;
  animation-duration: 10s;
  animation-fill-mode: linear;
  animation-fill-mode: both;
}

.--alert-timer-tape-ani {
  animation-name: alert-timer-tape-ani;
  animation-duration: 10s;
  animation-fill-mode: linear;
  animation-fill-mode: both;
}

.--brightness-filter {
  animation-name: brightness-filter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: linear;
  animation-fill-mode: both;
}

.--zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}