.btn-a {
  @apply relative flex gap-2 items-center bg-primary cursor-pointer mx-auto text-heading-invert hover:text-heading font-semibold px-8 py-2 rounded-lg transition-colors duration-150 ease-in hover:bg-secondary
}

.ar {
  direction: rtl;
}

.direction-ltr {
  direction: ltr !important;
}

.test {
  clip-path: inset(-400px 0 0 0);
}

.test11 {
  /* clip-path: inset(0 0px 120px 0); */
  /* background-size: cover; */
  background: black; /* Or any color to create the mask */
  mask-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 1) 70%, hsla(0, 0%, 0%, 0) 73%, hsla(0, 0%, 0%, 0) 100%);
  mask-size: cover;
  pointer-events: none; /* Ensures the mask doesn't interfere with any interactions */
}

.text-outline {
  -webkit-text-stroke: 1px black;
}

.nav-hover-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    border-radius: 100%;  
  }

  &:hover::before {
    background: var(--primary-color);
  }
}

.nav-button-hover-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    border-radius: 0.5rem;  
  }

  &:hover::before {
    background: var(--primary-color);
  }
}

.nav-active-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    background: var(--primary-color);
    transition: all 0.2s ease-in-out;
    z-index: -1;
    border-radius: 100%;  
  }
}

.transform-style-3d {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.masked-object-center-to-right {
  -webkit-mask-iamge: linear-gradient(to right, transparent 51%, black 49%);
  mask-image: linear-gradient(to right, transparent 51%, black 49%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.text-clip {
  background-clip: text;
}

.outlined-text {
  text-shadow:
    -1px -1px 1px var(--font-body-color),
    1px -1px 1px var(--font-body-color),
    -1px 1px 1px var(--font-body-color),
    1px 1px 1px var(--font-body-color);
}

.masked-content {
  width: 100%;
  height: 100%;
  background: #222;
  mask: url(#meteoconsStarFill0);
  -webkit-mask: url(#meteoconsStarFill0);
}

.confetti-class {
  display: none;
}

.favourite-is-toggled .confetti-class {
  display: initial !important;
}

.text-wrapper-clip-path {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.triangle-clip-path {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.cool-bg-grad-a {
  background-image: linear-gradient(to right, #03045e, #00b4d8, #caf0f8);
}

.cool-bg-grad-b {
  background-image: linear-gradient(to right, #03071e, #dc2f02, #ffba08);
}

.cool-bg-grad-c {
  background-image: linear-gradient(to right, #10002b, #7b2cbf, #10002b);
}

.cool-bg-grad-d {
  background-image: linear-gradient(to right, #590d22, #ff4d6d, #ffccd5);
}

.cool-bg-grad-e {
  background-image: linear-gradient(to right, #b7094c, #5c4d7d, #0091ad);
}

.cool-bg-grad-f {
  background-image: linear-gradient(to right, #7400b8, #48bfe3, #80ffdb);
}

.cool-bg-grad-g {
  background-image: linear-gradient(to right, #f72585, #3a0ca3, #3a0ca3);
}

.cool-bg-grad-h {
  background-image: linear-gradient(to right, #80ffdb, #7400b8, #80ffdb);
}

.cool-bg-grad-j {
  background-image: linear-gradient(to right, #ffccd5, #590d22, #ffccd5);
}

.cool-bg-grad-k {
  background-image: linear-gradient(to right, #edc4b3, var(--content-color), #edc4b3);
}

.cool-bg-grad-l {
  background-image: linear-gradient(to right, #edf2fb, #abc4ff, #edf2fb);
}

.cool-bg-grad-m {
  background-image: linear-gradient(to right, #0a0908, var(--content-color), #0a0908);
}

.user-nav-selected {
  @apply 
    before:content-[''] before:absolute 
    before:top-[calc(100%-0.2rem)] before:left-1/2 before:translate-x-[-50%] 
    before:w-full before:h-[3px] before:bg-content-inbetween before:rounded-full
}

.user-nav-not-selected {
  @apply 
    before:content-[''] before:absolute 
    before:top-[calc(100%-0.2rem)] before:left-1/2 before:translate-x-[-50%] 
    before:w-full before:h-[3px] before:bg-transparent before:hover:bg-inbetween before:rounded-full
    before:transition-all before:duration-300 ease-in-out

}

.advert-picked-image {
  color: var(--font-heading-color) !important;
  background-color: var(--font-heading-invert-color) !important;
  
  &:hover {
    background-color: var(--font-heading-invert-color) !important;
  }    
}

.shadow-inset {
  box-shadow: inset -4px 0px 6px 2px var(--inbetween-color);
}

.border-style-sm {
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.border-style-md {
  clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.test {
  background-color: yellow !important;
  height: 10000px;
}