.btn-a {
  @apply relative flex gap-2 items-center bg-primary cursor-pointer mx-auto text-heading-invert hover:text-heading font-semibold px-8 py-2 rounded-lg transition-colors duration-150 ease-in hover:bg-secondary
}

.ar {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.test {
  clip-path: inset(-200px 0 0 0);
}