.btn-a {
  @apply relative flex gap-2 items-center bg-primary cursor-pointer mx-auto text-heading-invert hover:text-heading font-semibold px-8 py-2 rounded-lg transition-colors duration-150 ease-in hover:bg-secondary
}

.ar {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.test {
  clip-path: inset(-200px 0 0 0);
}

.custom-shape-divider-bottom-1735380083 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1735380083 svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 62px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1735380083 .shape-fill {
  fill: #595959C2;
}

.custom-shape-divider-top-1735380155 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1735380155 svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 62px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1735380155 .shape-fill {
  fill: #595959C2;
}