.btn-a {
  @apply relative flex gap-2 items-center bg-primary cursor-pointer mx-auto text-heading-invert hover:text-heading font-semibold px-8 py-2 rounded-lg transition-colors duration-150 ease-in hover:bg-secondary
}

.ar {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

.test {
  clip-path: inset(-400px 0 0 0);
}

.test1 {
  /* clip-path: inset(0 0px 120px 0); */
  /* background-size: cover; */
  background: black; /* Or any color to create the mask */
  mask-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 1) 70%, hsla(0, 0%, 0%, 0) 73%, hsla(0, 0%, 0%, 0) 100%);
  mask-size: cover;
  pointer-events: none; /* Ensures the mask doesn't interfere with any interactions */
}

.text-outline {
  -webkit-text-stroke: 1px black;
}

.nav-hover-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    background: transparent;
    transition: all 0.2s ease-in-out;
    z-index: -1;
    border-radius: 100%;  
  }

  &:hover::before {
    background: var(--primary-color);
  }
}

.nav-active-effect {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    background: var(--primary-color);
    transition: all 0.2s ease-in-out;
    z-index: -1;
    border-radius: 100%;  
  }
}

.transform-style-3d {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}