:root {
  --primary-color: #0a0908;
  --secondary-color: #22333b;
  --content-color: oklch(0.473 0.137 46.201);
  --content-inbetween-color: oklch(0.769 0.188 70.08);
  --content-invert-color: oklch(0.924 0.12 95.746);
  --primary-invert-color: #F1EFEF;
  --inbetween-color: #9999a1;
  --secondary-invert-color: #D0D0D0;
  --today-label-color: #00FFFF;
  --today-label-invert-color: #008B8B;

  --font-heading-color: hsl(0, 0%, 10%);
  --font-heading-invert-color: hsl(0, 0%, 90%);
  --font-body-color: hsl(0, 0%, 30%);
  --font-body-invert-color: hsl(0, 0%, 80%);
  --font-light-color: hsl(0, 0%, 40%);
  --font-light-invert-color: hsl(0, 0%, 60%);
  --font-extra-light-color: hsl(0, 0%, 60%);
  --font-extra-light-invert-color: hsl(0, 0%, 40%);

  --font-roboto: 

  --grey-color: hsl(0, 0%, 30%);

  --background-color: #edf2f4;
  --background-invert-color: #0a0908;
  --background-light-color: hsl(0, 0%, 90%);
  --background-light-invert-color: hsl(0, 0%, 10%);
  --background-deep-light-color: hsl(0, 0%, 80%);
  --background-deep-light-invert-color: hsl(0, 0%, 20%);
  --background-deep-color: hsl(0, 0%, 70%);
  --background-deep-invert-color: hsl(0, 0%, 30%);
  --background-light-dark-color: hsl(0, 0%, 60%);
  --background-deep-dark-color: hsl(0, 0%, 50%);
  --shade-color: hsla(0, 0%, 0%, 0.3);
  --shade-v2-color: hsla(0, 7%, 94%, 0.7);
  --shade-v3-color: hsla(0, 7%, 94%, 0.9);

  --bounce-bezier: cubic-bezier(0.68,-0.55,0.27,1.55);

  --important-priority-color: hsl(48, 100%, 50%);
  --none-priority-color: hsl(0, 0%, 60%);
  --normal-priority-color: hsl(240, 100%, 60%);
  --critical-priority-color: hsl(0, 100%, 60%);

  --foreground: #0a0908;
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
  --circular-progress: 20;
}

.dark {
  --primary-color: #F1EFEF;
  --secondary-color: #D0D0D0;
  --content-color: #D6C0B3;
  --content-invert-color: #AB886D;
  --inbetween-color: #A6A6A6;
  --primary-invert-color: #1E1E1E;
  --secondary-invert-color: #595959;
  --today-label-color: #008B8B;
  --today-label-invert-color: #00FFFF;

  --font-heading-color: hsl(0, 0%, 90%);
  --font-heading-invert-color: hsl(0, 0%, 10%);
  --font-body-color: hsl(0, 0%, 70%);
  --font-body-invert-color: hsl(0, 0%, 20%);
  --font-light-color: hsl(0, 0%, 60%);
  --font-light-invert-color: hsl(0, 0%, 40%);
  --font-extra-light-color: hsl(0, 0%, 40%);
  --font-extra-light-color: hsl(0, 0%, 60%);

  --grey-color: hsl(0, 0%, 70%);

  --background-color: hsl(0, 0%, 12%);
  --background-invert-color: hsl(0, 7%, 94%);
  --background-light-color: hsl(0, 0%, 10%);
  --background-light-invert-color: hsl(0, 0%, 90%);
  --background-deep-light-color: hsl(0, 0%, 20%);
  --background-deep-light-invert-color: hsl(0, 0%, 80%);
  --background-deep-color: hsl(0, 0%, 30%);
  --background-deep-invert-color: hsl(0, 0%, 70%);
  --background-light-dark-color: hsl(0, 0%, 40%);
  --background-deep-dark-color: hsl(0, 0%, 50%);
  --shade-color: hsla(0, 0%, 100%, 0.3);
  --shade-v2-color: hsla(0, 0%, 12%, 0.7);

  --none-priority-color: hsl(0, 0%, 60%);
  --normal-priority-color: hsl(240, 100%, 60%);
  --important-priority-color: hsl(48, 100%, 40%);
  --critical-priority-color: hsl(0, 100%, 60%);

  --foreground: hsl(0, 0%, 100%);
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
}

.black-lightCaramel-theme {
  --primary-color: #1c1c1c;
  --secondary-color: #aea594;
  --primary-invert-color: #f5f5ed;
  --inbetween-color: #dddad3;
  --secondary-invert-color: #dddad3;
  --today-label-color: #00FFFF;
  --today-label-invert-color: #008B8B;

  --font-heading-color: hsl(0, 0%, 10%);
  --font-heading-invert-color: hsl(0, 0%, 90%);
  --font-body-color: hsl(0, 0%, 30%);
  --font-body-invert-color: hsl(0, 0%, 80%);
  --font-light-color: hsl(0, 0%, 40%);
  --font-light-invert-color: hsl(0, 0%, 60%);
  --font-extra-light-color: hsl(0, 0%, 60%);
  --font-extra-light-invert-color: hsl(0, 0%, 40%);

  --grey-color: hsl(0, 0%, 30%);

  --background-color: #f6f6ee;
  --background-invert-color: #1c1c1c;
  --background-light-color: hsl(0, 0%, 90%);
  --background-light-invert-color: hsl(0, 0%, 10%);
  --background-deep-light-color: hsl(0, 0%, 80%);
  --background-deep-light-invert-color: hsl(0, 0%, 20%);
  --background-deep-color: hsl(0, 0%, 70%);
  --background-deep-invert-color: hsl(0, 0%, 30%);
  --background-light-dark-color: hsl(0, 0%, 60%);
  --background-deep-dark-color: hsl(0, 0%, 50%);
  --shade-color: hsla(0, 0%, 0%, 0.3);
  --shade-v2-color: hsla(0, 7%, 94%, 0.7);

  --bounce-bezier: cubic-bezier(0.68,-0.55,0.27,1.55);

  --important-priority-color: hsl(48, 100%, 50%);
  --none-priority-color: hsl(0, 0%, 60%);
  --normal-priority-color: hsl(240, 100%, 60%);
  --critical-priority-color: hsl(0, 100%, 60%);

  --foreground: #1c1c1c;
  --background-1-url: url(/assets/background-1.jpg);
  --background-2-url: url(/assets/background-2.jpg);
  --background-3-url: url(/assets/background-3.jpg);
  --background-4-url: url(/assets/background-4.jpg);
  --circular-progress: 20;
}

.en {
  --font-family: 'Sofia Sans Condensed', sans-serif;
}

.ar {
  --font-family: 'Zain', sans-serif;
  --font-size-increment: 2px;
  /* --font-family: 'Tajawal', sans-serif; */
  /* --font-family: 'Lateef', sans-serif; */
}

.ar .text-xs {
  font-size: calc(12px + var(--font-size-increment));
}
.ar .text-sm {
  font-size: calc(14px + var(--font-size-increment));
}
.ar .text-base {
  font-size: calc(16px + var(--font-size-increment));
}
.ar .text-lg {
  font-size: calc(18px + var(--font-size-increment));
}
.ar .text-xl {
  font-size: calc(20px + var(--font-size-increment));
}
.ar .text-2xl {
  font-size: calc(24px + var(--font-size-increment));
}
.ar .text-3xl {
  font-size: calc(30px + var(--font-size-increment));
}
.ar .text-4xl {
  font-size: calc(36px + var(--font-size-increment));
}
.ar .text-5xl {
  font-size: calc(48px + var(--font-size-increment));
}
.ar .text-6xl {
  font-size: calc(60px + var(--font-size-increment));
}
.ar .text-7xl {
  font-size: calc(72px + var(--font-size-increment));
}
.ar .text-8xl {
  font-size: calc(96px + var(--font-size-increment));
}
.ar .text-9xl {
  font-size: calc(128px + var(--font-size-increment)); 
} 